src_vocab:
  cs: /home/local/scaleUpMNMT-data/wmt/many2many.wmt.vocab.src
  de: /home/local/scaleUpMNMT-data/wmt/many2many.wmt.vocab.src
  en: /home/local/scaleUpMNMT-data/wmt/many2many.wmt.vocab.src
tgt_vocab:
  cs: /home/local/scaleUpMNMT-data/wmt/many2many.wmt.vocab.src
  de: /home/local/scaleUpMNMT-data/wmt/many2many.wmt.vocab.src
  en: /home/local/scaleUpMNMT-data/wmt/many2many.wmt.vocab.src
overwrite: False

data:
  train_en-cs:
    src_tgt: en-cs
    path_src: /home/local/scaleUpMNMT-data/wmt/train/en-cs/wmt.en-cs.train.BPE.en
    path_tgt: /home/local/scaleUpMNMT-data/wmt/train/en-cs/wmt.en-cs.train.BPE.cs
  train_en-de:
    src_tgt: en-de
    path_src: /home/local/scaleUpMNMT-data/wmt/train/en-de/wmt.en-de.train.BPE.en
    path_tgt: /home/local/scaleUpMNMT-data/wmt/train/en-de/wmt.en-de.train.BPE.de
  train_cs-en:
    src_tgt: cs-en
    path_src: /home/local/scaleUpMNMT-data/wmt/train/cs-en/wmt.cs-en.train.BPE.cs
    path_tgt: /home/local/scaleUpMNMT-data/wmt/train/cs-en/wmt.cs-en.train.BPE.en
  train_de-en:
    src_tgt: de-en
    path_src: /home/local/scaleUpMNMT-data/wmt/train/de-en/wmt.de-en.train.BPE.de
    path_tgt: /home/local/scaleUpMNMT-data/wmt/train/de-en/wmt.de-en.train.BPE.en

batch_size: 4096
batch_type: tokens
normalization: tokens
valid_batch_size: 4096
max_generator_batches: 2
attention_heads: 2
encoder_type: transformer
decoder_type: transformer
rnn_size: 256
word_vec_size: 256
transformer_ff: 2048
heads: 2
enc_layers: [2]
dec_layers: [2]
dropout: 0.1
label_smoothing: 0.1
param_init: 0.0
param_init_glorot: true
position_encoding: true
train_steps: 4
valid_steps: 100
warmup_steps: 1
report_every: 2
save_checkpoint_steps: 2
keep_checkpoint: 1
accum_count: 1
optim: adafactor
decay_method: none
learning_rate: 3.0
max_grad_norm: 0.0
seed: 3435
model_type: text
node_rank: 0
