#!/bin/bash
changecom()dnl # disables m4 comments so #SBATCH lines are expanded; this line is supressed in macro expansion

#SBATCH --partition=small
#SBATCH --cpus-per-task=1
#SBATCH --output=__LOGDIR__/sacrebleu%j.out
#SBATCH --error=__LOGDIR__/sacrebleu%j.err
#SBATCH --job-name=__JOB_NAME__
#SBATCH --account=__ACCOUNT__
#SBATCH --chdir=__MODELDIR__

# These have to be given as command line arguments:
##SBATCH --time=__TIME__
##SBATCH --ntasks=__NTASKS__
##SBATCH --nodes=__NODES__

set -euo pipefail

export ACCOUNT=__ACCOUNT__
export DISKPROJECT=__DISKPROJECT__
export SELFDIR=__SELFDIR__
export OUTDIR=__OUTDIR__
export ACTIVATE=__ACTIVATE__
export MAKESCRIPT=__MAKESCRIPT__
export LOGDIR=__LOGDIR__
export JOB_NAME=__JOB_NAME__
export MODELDIR=__MODELDIR__
export FLAG=__FLAG__
export DONE=__DONE__
export SBATCH_LINE=__SBATCH_LINE__
export PARTITION=__PARTITION__

for var in ACCOUNT DISKPROJECT SELFDIR OUTDIR ACTIVATE MAKESCRIPT LOGDIR JOB_NAME MODELDIR FLAG DONE SBATCH_LINE PARTITION; do
  eval "value=\${$var}"
  case "$value" in
    __*__)
      echo "ERROR: $var was not substituted: $value" >&2
      exit 1
      ;;
  esac
done

export SLURM_DISTR="${SELFDIR}/slurm_distr.sh"
export SLURM_WRAPPER="${SELFDIR}/bin/slurm_wrapper.sh"
export CALLS_FILE="${OUTDIR}/calls.sacre.out"

[[ -f "${SLURM_WRAPPER}" ]] || { echo "Error: The wrapper not found in ${SLURM_WRAPPER}" >&2; exit 1; }
[[ -f "${SLURM_DISTR}"   ]] || { echo "Error: The distributor not found in ${SLURM_DISTR}" >&2; exit 1; }

trap 'rm -f "__FLAG__"; touch "__DONE__"' EXIT
if [ -n "${SLURM_JOBID:-}" ]; then
    echo "Launching srun..."
    srun "${SLURM_WRAPPER}"
else
    # creates "${MAKESCRIPT}"
    bash "${SLURM_DISTR}"
fi
