#!/bin/bash
changecom()dnl # disables m4 comments so #SBATCH lines are expanded; this line is supressed

#SBATCH --partition=small-g
#SBATCH --mem=60G
#SBATCH --gpus-per-task=1
#SBATCH --cpus-per-task=7
#SBATCH --output=__LOGDIR__/infjob%j.out
#SBATCH --error=__LOGDIR__/infjob%j.err
#SBATCH --job-name=__JOB_NAME__
#SBATCH --account=__ACCOUNT__
#SBATCH --chdir=__MODELDIR__

# These have to be given as command line arguments:
##SBATCH --time=__TIME__
##SBATCH --ntasks=__NTASKS__
##SBATCH --gpus=__GPUS__
##SBATCH --nodes=__NODES__

set -euo pipefail

export SIF=__SIF__
export ACCOUNT=__ACCOUNT__
export DISKPROJECT=__DISKPROJECT__
export SELFDIR=__SELFDIR__
export OUTDIR=__OUTDIR__
export ACTIVATE=__ACTIVATE__
export MAKESCRIPT=__MAKESCRIPT__
export LOGDIR=__LOGDIR__
export JOB_NAME=__JOB_NAME__
export MODELDIR=__MODELDIR__
export FLAG=__FLAG__
export DONE=__DONE__
export SBATCH_LINE=__SBATCH_LINE__
export PARTITION=__PARTITION__

for var in SIF ACCOUNT DISKPROJECT SELFDIR OUTDIR ACTIVATE MAKESCRIPT LOGDIR JOB_NAME MODELDIR FLAG DONE SBATCH_LINE PARTITION; do
  eval "value=\${$var}"
  case "$value" in
    __*__)
      echo "ERROR: $var was not substituted: $value" >&2
      exit 1
      ;;
  esac
done

export SLURM_DISTR="${SELFDIR}/slurm_distr.sh"
export SLURM_WRAPPER="${SELFDIR}/bin/slurm_wrapper.sh"
export CALLS_FILE="${OUTDIR}/calls.out"

[[ -f "${SLURM_WRAPPER}" ]] || { echo "Error: The wrapper not found in ${SLURM_WRAPPER}" >&2; exit 1; }
[[ -f "${SLURM_DISTR}"   ]] || { echo "Error: The distributor not found in ${SLURM_DISTR}" >&2; exit 1; }

# $MAKESCRIPT is a model-specific version of the current script file.
# It is produced in mk-infer.mk by the target $(INF_SCRIPT).
# This script is used in two phases:
#   (1) As non-slurm script, $MAKESCRIPT calculates the resource needs using
#       $INF_DISTR and produces the sbatch command file $INF_SBATCH
#       to call $MAKESCRIPT.
#       The script $INF_SBATCH is a bash file that contains sbatch.
#   (2) When $INF_SBATCH is executed under bash, it sbatches 
#       slurm script $MAKESCRIPT. This script sruns the $INF_WRAPPER
#       where $INF_DISTR distributes the inference calls.

trap 'rm -f "${FLAG}"; touch "${DONE}"' EXIT
if [ -n "${SLURM_JOBID:-}" ]; then
    export NCCL_SOCKET_IFNAME=hsn0,hsn1,hsn2,hsn3
    export NCCL_NET_GDR_LEVEL=PHB
    export NCCL_DEBUG=INFO
    # preflight check for SIF:
    [[ -r "${SIF}" ]] || {
	echo "ERROR: SIF image not readable on compute node: ${SIF}" >&2
	echo "Try: find -L /appl/local/laifs/containers -maxdepth 3 -type f -name '*.sif'" >&2
	exit 1
    }    
    echo "Launching srun..."
    srun /usr/bin/singularity exec \
	 --env NCCL_SOCKET_IFNAME="${NCCL_SOCKET_IFNAME}" \
	 --env NCCL_NET_GDR_LEVEL="${NCCL_NET_GDR_LEVEL}" \
	 --env NCCL_DEBUG="${NCCL_DEBUG}" \
         -B  "/scratch/${DISKPROJECT}:/scratch/${DISKPROJECT}:rw" \
         -B  "/scratch/${ACCOUNT}:/scratch/${ACCOUNT}:rw" \
	 "${SIF}" "${SLURM_WRAPPER}"
else
    # creates "${MAKESCRIPT}"
    bash "${SLURM_DISTR}"
fi
